@font-face {
    src: url("VCR_OSD_MONO_1.001.ttf");
}
.root {
    -fx-background-color: rgb(21, 24, 31);
}

Label {
    -fx-background-color: transparent;
    -fx-font-size: 50;
    -fx-font-family: "VCR OSD Mono";
    -fx-text-fill: white;
    -fx-padding: 0 0 30 0;
}

Button {
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-font-family: "VCR OSD Mono";
    -fx-text-fill: white;
}