@font-face {
    src: url("VCR_OSD_MONO_1.001.ttf");
}
.root {
    -fx-background-color: rgb(21, 24, 31);
}

.title {
    -fx-font-size: 60;
    -fx-font-family: "VCR OSD Mono";
    -fx-text-fill: white;
}

Button {
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-font-family: "VCR OSD Mono";
    -fx-text-fill: white;
}